<h1>List of People</h1>
<hr>

<ul>
  <% @people.each do |person| %>
    <li>
      <%= person.name %> --
      <%= link_to 'View', person_path(person) %> |
      <%= link_to 'Edit', edit_person_path(person) %> |
      <%= link_to 'Delete', person_path(person), method: :delete, data: {confirm: 'Do you want to delete this person?'} %>
    </li>
  <% end %>
</ul>

<hr>
<%= link_to 'Add Person', new_person_path %>
